
body {
    margin: 0; 
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333; 
    overflow: hidden; 
}


.navbar {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
}


.navbar li {
 
    display: inline-block; 
  
}


.navbar li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}


.navbar li a:hover {
    background-color: #555;
}



body {
    margin: 0; 
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333; 
    overflow: hidden; 
}

.navbar {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: center; 
}


.navbar li {
    display: inline-block; 
}

.navbar li a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
}

.navbar li a:hover {
    background-color: #555;
}



@media (max-width: 768px) {

    .navbar li {
 
        display: block; 
 
        text-align: left; 
  
        border-bottom: 1px solid #444; 
    }
    

    .navbar li a {

        width: 100%; 
 
        padding: 10px 15px; 

        text-align: left;

    }
    
    .navbar li:last-child {
        border-bottom: none;
    }
}